# Maven
target/

# IntelliJ
.idea/
*.iml
out/

# Logs
*.log

# JMeter
performance-tests/*.jtl
performance-tests/reports/*
!performance-tests/reports/.gitkeep

# Allure
allure-results/
allure-report/
.allure/

# OS
.DS_Store
Thumbs.db
